<%= form_for(@hospital) do |f|  %>
<b>Blood</b>
<div class="form">
<%= f.text_field :donor, placeholder: "Donor Name" %>
<%= f.text_field :bloodgroup, placeholder: "Bloodgroup" %>
<%= f.text_field :donated_to, placeholder: "Donated to" %>
</div>
<%= f.submit "Add", class: "btn btn-danger" %>
<% end %>