<% provide(:title, 'All hospitals') %>
<h1>All Hospitals</h1>
      
      <%= form_tag hospitals_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: "zip "%><br/>
        <%= submit_tag "Search" %><br/>
      </p>
      <% end %>

<%= will_paginate %>

<ul class="users">
  <% @hospitals.each do |hospital| %>
    <li>
      
      <%= link_to hospital.hospital_name, hospital %><br>
      <b>Zip:</b><%= hospital.hospital_zip %><br>
      <% if signed_in? %>
      <% if current_hospital.admin? && !current_hospital?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
                                  <% end %>
      <% end %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>