<% provide(:title, @hospital.hospital_name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        
        <%= link_to @hospital.hospital_name, @hospital%>
        <% if signed_in? %>
        <% if current_hospital.admin? && !current_hospital?(@hospital) %>
        | <%= link_to "delete", @hospital, method: :delete,
                                  data: { confirm: "You sure?" } %>
                                  <% end %>
        <% end %>
      </h1>  
    </section>
    <section>
      <b>Doctor Incharge       :</b> <%= @hospital.doctor_incharge %> <br>
      <b>Contact               :</b> <%= @hospital.hospital_phone %> <br>
      <b>Address               :</b> <%= @hospital.hospital_address %> <br>
      <b>City                  :</b> <%= @hospital.hospital_city %> <br>
      <b>Postal code           :</b> <%= @hospital.hospital_zip %> <br>
    </section>
  </aside>
  
  <% if current_hospital?(@hospital) %>
  <div class="span8">
    <%= render 'shared/donated_blood_form' %>
    <%= render 'shared/kidney_form' %>
  </div>
  <div>
  <%= will_paginate @blooddonations %>
Blood: 
<ul class="users">
  <% @blooddonations.each do |blooddonation| %>
    <li>
      <b>Donor:</b>  <%= blooddonation.donor %><br>
      <b>Bloodgroup:</b>  <%= blooddonation.bloodgroup %><br>
      <b>Donated to:</b>  <%= blooddonation.donated_to %>
    </li>
  <% end %>
</ul>
</div>
<%= will_paginate @blooddonations %>
   <div>
  <%= will_paginate @kidneydonations %>
Kidney: 
<ul class="users">
  <% @kidneydonations.each do |kidneydonation| %>
    <li>
      <b>Donor:</b>  <%= kidneydonation.kidneydonor %><br>
      <b>Bloodgroup:</b>  <%= kidneydonation.kidneybloodgroup %><br>
      <b>Donated to:</b>  <%= kidneydonation.kidneydonated_to %><br>
      <b>Bonemarrow:</b>  <%= kidneydonation.kidneybonemarrow %><br>
      <b>Tissue type:</b>  <%= kidneydonation.kidneytissue_type %><br>
    </li>
  <% end %>
</ul>
</div>
<%= will_paginate @kidneydonations %>
  <% end %>
</div>